/* Google Font */

@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

/* Google Font */

:root {
    --Single-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0);
}


/* default style buatan  */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(24, 19, 44, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
}

a.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 50px !important;
}

a.closebtn:hover {
    transform: scale(2.1) rotate(90deg);
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* pembuatan side navbar  */

.table {
    font-family: var(--Lobster);
    color: rgb(226, 225, 225, 0.6);
    margin-top: 80px !important;
    transition: all 0.5 ease-in-out;
}

tr {
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

tr:hover {
    transform: scale(1.05);
    color: wheat !important;
}

td#td {
    padding-top: 30px;
}

.table td,
.table th {
    border-top-color: transparent !important;
}

img.gambar-beli {
    height: 60px;
    widows: 60px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 1px 2px 50px 0px rgba(102, 98, 98, 0.349);
}

td#pembayaran {
    border-top: 3px solid #dee2e6 !important;
}